<p id="notice"><%= notice %></p>

<h1>Vinyls Collection</h1>

<table>
  <thead>
    <tr>
      <th>Name </th>
      <th>Author </th>
      <th>Release Date</th>
      <th>Format </th>
      <th>Status </th>
      <th>Collectionist </th>
      <th>Description </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vinyls.each do |vinyl| %>
      <tr>
        <td><%= vinyl.name %></td>
        <td><%= vinyl.author %></td>
        <td><%= vinyl.release_date %></td>
        <td><%= vinyl.format_info %></td>
        <td><%= vinyl.status %></td>
        <td><%= vinyl.user.collectionist_name %></td>
        <td><%= vinyl.description %></td>
        <td><%= link_to 'Show', vinyl %></td>
        <td><%= link_to 'Edit', edit_vinyl_path(vinyl) %></td>
        <td><%= link_to 'Destroy', vinyl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vinyl', new_vinyl_path %>
