<%= form_with(model: offer, local: true) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :offeredvinyl_id %>
    <%= form.number_field :offeredvinyl_id %>
  </div>

  <div class="field">
    <%= form.label :receivervinyl_id %>
    <%= form.number_field :desiredvinyl_id %>
  </div>

  <div class="field">
    <%= form.label :offer_state %>
    <%= form.number_field :offer_state %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
